.header {
  display: flex;
  padding: var(--space-medium) 0;
  width: var(--width-full);
  align-items: center;
  gap: var(--space-medium);
  flex-wrap: wrap;
}

.header-logo {
  margin-right: auto;
}

.header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  gap: var(--space-small);
}

.post-title {
  font-size: var(--font-size-large-plus);
  font-weight: 600;
  margin-bottom: var(--space-largest);
}

.footer {
  width: var(--width-full);
  padding-top: var(--space-large);
  padding-bottom: var(--space-large);
}
