body {
  font-size: 15px;
  font-family: var(--font-base);
  font-weight: normal;

  width: 100%;
  padding: 0 var(--space-medium);
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width-body);

  color: var(--base12);
  background-color: var(--base2);
}

a:not(.raw-link) {
  color: var(--accent11);
}

@media (min-width: 1100px) {
  body {
    width: 87.5%;
    padding: 0;
    padding-left: 12.5%;
    box-sizing: content-box;
  }
}

