.main article > p,
.main article > table,
.main article > footer {
  width: var(--width-normal);
}

.main article > dl,
.main article > ol,
.main article > ul {
  width: calc(var(--width-normal) - var(--space-large));
  -webkit-padding-start: var(--space-large);
}

.main dt:not(:first-child),
.main li:not(:first-child) {
  margin-top: var(--space-smaller);
}

.main figure {
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  max-width: var(--width-normal);
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin: 0 0 var(--space-larger) 0;
}

.main figcaption {
  float: right;
  clear: right;
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  vertical-align: baseline;
  position: relative;
  max-width: var(--width-small);
}

.main figure.fullwidth figcaption {
  margin-right: 24%;
}
.main p,
.main ul,
.main ol,
.main dl {
  font-size: var(--font-size-normal);
  line-height: var(--line-height-normal);
}

.main p {
  margin-top: var(--space-large);
  margin-bottom: var(--space-large);
  padding-right: 0;
  vertical-align: baseline;
}

.main blockquote {
  font-size: var(--font-size-small);
  background: var(--base4);
  padding: var(--space-medium);
}

.main blockquote p {
  margin: 0;
  font-size: inherit;
  font-style: italic;
}

.main blockquote p:not(li blockquote p) {
  width: 55%;
}

.main blockquote footer:not(li blockquote footer) {
  width: 55%;
  margin-top: var(--space-medium);
  font-size: var(--font-size-normal);
  text-align: right;
}

.main img {
  max-width: 100%;
}

.sidenote-number {
  counter-increment: sidenote-counter;
}

.sidenote-number:after,
.sidenote:before {
  position: relative;
  vertical-align: baseline;
}

.sidenote:before {
  content: counter(sidenote-counter) " ";
  font-size: 1rem;
  top: -0.5rem;
}

.sidenote-number:after {
  content: counter(sidenote-counter);
  font-size: 1rem;
  top: -0.5rem;
  left: 0.1rem;
}

.sidenote,
.marginnote {
  float: right;
  clear: right;
  margin-right: -60%;
  width: 50%;
  margin-top: 0.3rem;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.3;
  vertical-align: baseline;
  position: relative;
}

.main div.fullwidth,
.main table.fullwidth {
  width: 100%;
}

.main code:not(pre > code) {
  display: inline-block;
  font-size: 0.8em;
  font-family: var(--font-mono);
  padding-inline-start: var(--space-smaller);
  padding-inline-end: var(--space-smaller);
  color: var(--support11);
  background: var(--support3);
}

.main pre > code {
  font-family: var(--font-mono);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  -webkit-text-size-adjust: 100%;
}

.main .astro-code {
  font-size: var(--font-size-normal);
  width: calc(var(--width-normal) - var(--space-large));
  margin-left: var(--space-large);
  overflow-x: auto;
  display: block;
  padding: var(--space-medium);

  border-top: 1px solid var(--base11);
  border-bottom: 1px solid var(--base11);
}

.main .astro-code.fullwidth {
  width: calc(var(--width-full) - var(--space-large));
}

.main .fullwidth {
  max-width: 90%;
  clear: both;
}

.main span.newthought {
  font-variant: small-caps;
  font-size: 1.2em;
}

.main .iframe-wrapper {
  width: var(--width-normal);
}

.main .iframe-wrapper iframe {
  width: 100%;
}
