p,
ul,
ol,
dl {
  font-size: var(--font-size-normal);
  line-height: var(--line-height-normal);
}

p {
  margin-top: var(--space-medium);
  margin-bottom: var(--space-medium);
  padding-right: 0;
  vertical-align: baseline;
}

blockquote {
  font-size: 1.4rem;
}

blockquote p {
  width: 55%;
  margin-right: 40px;
}

blockquote footer {
  width: 55%;
  font-size: 1.1rem;
  text-align: right;
}

img {
  max-width: 100%;
}

.sidenote,
.marginnote {
  float: right;
  clear: right;
  margin-right: var(--width-sidenote + 10%);
  width: var(--width-sidenote);
  margin-top: var(--space-smaller);
  margin-bottom: 0;
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  vertical-align: baseline;
  position: relative;
}

div.fullwidth,
table.fullwidth {
  width: 100%;
}

code,
pre > code {
  font-family: var(--font-mono);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  -webkit-text-size-adjust: 100%;
}

pre > code {
  font-size: 0.9rem;
  width: 52.5%;
  margin-left: 2.5%;
  overflow-x: auto;
  display: block;
}

pre.fullwidth > code {
  width: 90%;
}

.fullwidth {
  max-width: 90%;
  clear: both;
}

span.newthought {
  font-variant: small-caps;
  font-size: 1.2em;
}

.iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
