---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const posts = await Astro.glob("./posts/**/*.mdx").then(
  (posts) =>
    posts.map(({ frontmatter, url }) => ({
      title: frontmatter.title,
      description: frontmatter.description,
      authors: frontmatter.authors,
      publishDate: Intl.DateTimeFormat("pt-BR").format(
        new Date(frontmatter.date)
      ),
      ogImage: frontmatter.ogImage,
      href: url,
    }))
  //.sort((a, b) => {
  //  if (isBefore(a.publishDate, b.publishDate)) return 1;
  //  if (isBefore(b.publishDate, a.publishDate)) return -1;
  //  return 0;
  //})
);
---

<Layout title="Triângulo - Tutoriais de Desenvolvimento Front-end">
  <main>
    <h2>Artigos</h2>
    <ul>
      {posts.map((post) => <li>{post.title}</li>)}
    </ul>
  </main>
  <aside></aside>
</Layout>
