---
import { Image } from "@astrojs/image/components";
import trianguloLogo from "./triangulo-logo.svg";
---

<header role="banner" class="header">
  <div class="header-logo">
    <a href="/" title="Voltar para página principal">
      <img src={trianguloLogo} alt="Triângulo" />
    </a>
  </div>
</header>
