---
import { getCollection } from 'astro:content';

const posts = await getCollection('posts')
  .then((posts) =>
    posts
      .sort((a, b) => {
        if (a.data.pubDate < b.data.pubDate) return -1;
        if (b.data.pubDate > a.data.pubDate) return 1;
        return 0;
      })
      .map((post) => ({
        title: post.data.title,
        description: post.data.description,
        authorName: post.data.authorName,
        pubDate: Intl.DateTimeFormat("pt-BR").format(
          new Date(post.data.pubDate)
        ),
        ogImage: post.data.ogImage,
        href: `/posts/${post.id}`,
      }))
  );
---

<ul>
  {
    posts.map((post) => (
      <li>
        <a href={post.href}>{post.title}</a>
      </li>
    ))
  }
</ul>
