---
const posts = await Astro.glob("../pages/posts/**/*.mdx").then((posts) =>
  posts
    .sort((a, b) => {
      if (a.frontmatter?.date < b.frontmatter?.date) return -1;
      if (b.frontmatter?.date > a.frontmatter?.date) return 1;
      return 0;
    })
    .map(({ frontmatter, url }) => ({
      title: frontmatter.title,
      description: frontmatter.description,
      authors: frontmatter.authors,
      pubDate: Intl.DateTimeFormat("pt-BR").format(
        new Date(frontmatter.pubDate)
      ),
      ogImage: frontmatter.ogImage,
      href: url,
    }))
);
---

<ul>
  {
    posts.map((post) => (
      <li>
        <a href={post.href}>{post.title}</a>
      </li>
    ))
  }
</ul>
