<header class="header">
  <div class="header-logo">
    <a href="/" title="Voltar para página principal"
      ><img
        src="/triangulo-logo.svg"
        loading="eager"
        decoding="async"
        alt="Triângulo"
      />
    </a>
  </div>

  <nav>
    <ul>
      <li>
        <a href="categorias/css">CSS</a>
      </li>
      <li>
        <a href="categorias/javascript">JavaScript</a>
      </li>
      <li>
        <a href="categorias/react">React</a>
      </li>
      <li>
        <a href="sobre">Sobre</a>
      </li>
    </ul>
  </nav>
</header>
